a:hover { color:#37404e !important; }
a:visited { color:#37404e !important; }

.quote {
    color: green;
}

.deadlink {
    position: relative;
    display: inline-block;
}

.deadlink::before, .deadlink::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.deadlink::before {
    border-bottom: 1px solid red;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}

.deadlink::after {
    border-bottom: 1px solid red;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  /*background-color: #F5F5F5;*/
  border-radius: 10px;
}

.scrollbar-cyan::-webkit-scrollbar {
  width: 3px;
  background-color: #FFFFFF;
  /*background-color: #F5F5F5;*/
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #868e96;
  /*background-color: #00bcd4;*/
}

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: #FFFFFF;
  /*background-color: #00bcd4;*/
}

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }

.example-1 {
  position: relative;
  overflow-y: auto;
  max-height: 140px;
  min-width: 150px;
}

.example-2 {
    position: relative;
    overflow-y: auto;
}